.app-main-surface {
  background-image: url("/media/img/iPadBackgroundTexture-brown.png"); }

.navbar {
  background: url("/media/img/iPadBackgroundTexture-brown.png");
  -webkit-box-shadow: 0px 0px 20px black;
  z-index: 11; }

.profile-view {
  background-color: white;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 40px black; }

.profile-view-account {
  -webkit-border-radius: 3px;
  border: 1px solid #EDEDED;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0px 24px; }

.profile-view-gmail {
  background-image: url("/media/img/gmail.png"); }

.profile-view-twitter {
  background-image: url("/media/img/twitter.png"); }

.profile-view-facebook {
  background-image: url("/media/img/facebook.png"); }

.profile-view-linkedin {
  background-image: url("/media/img/linkedin.png"); }

.profile-view-hotmail {
  background-image: url("/media/img/hotmail.png"); }

.profile-view-yahoo {
  background-image: url("/media/img/yahoo.png"); }

.profile-view-imap {
  color: #6D6975; }

.profile-view-credentials {
  background-image: url("/media/img/profile-view-credentials-bg.png"); }

.profile-view-credentials-loading {
  background-image: url("/media/img/loading_large.gif");
  background-repeat: no-repeat;
  color: white; }

profile-view-credentials-loading-icon {
  background-image: url("/media/img/loading_large.gif"); }

.conversation-panel {
  background-color: #f2f2f2;
  color: black;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 40px black; }

.conversation-list-view-item {
  background-color: white;
  -webkit-border-radius: 1px; }

.topbar {
  background-color: #f4f4f4; }

.flow-shading {
  background-color: black;
  opacity: 0.2; }

.flow-label {
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: "Helvetica Neue"; }

.conversation-item--body th,
.conversation-item--body td {
  border: 0;
  padding: 0; }

.conversation-item--body table {
  margin: 0; }

.dashboard-scroll {
  background-image: url("/media/img/iPadBackgroundTexture-brown.png"); }

.conversation-list-view-item--key-participant {
  color: black; }

.conversation-list-view-item--date {
  color: #2CA3CC; }

.conversation-list-view-item--message-count {
  color: #33332F;
  background-color: #F2F9FF;
  -webkit-border-radius: 3px; }

.conversation-list-view-item--summary {
  color: #8E8D8D;
  /* gray */ }

.flow-summary {
  background-color: #E2E2D5;
  /* pale beige */ }

.sc-view .message-meta {
  position: absolute;
  padding-top: 30px; }

.sc-view .message-block {
  position: relative;
  display: block;
  background-color: white;
  background-image: url("/media/img/message_bubble.png");
  background-repeat: no-repeat;
  background-position: 113px 0px;
  min-height: 100px;
  padding-top: 30px; }

.sc-view .conversation-item--contact {
  position: absolute;
  padding-top: 30px; }

.sc-view .conversation-item {
  position: relative;
  display: block;
  background-color: white;
  background-image: url("/media/img/message_bubble.png");
  background-repeat: no-repeat;
  background-position: 113px 0px;
  min-height: 100px;
  padding-top: 30px; }

.app-newsletter-header {
  background-color: white; }

.app-newsletter-footer {
  -webkit-box-shadow: 0px 0px 20px black; }

.sc-theme .sc-view.ace.sc-jumbo-size.sc-button-view.icon.all .button-right,
.sc-theme .sc-view.ace.sc-jumbo-size.sc-button-view.icon.all .button-left,
.sc-theme .sc-view.ace.sc-jumbo-size.sc-button-view.icon.profile .button-right,
.sc-theme .sc-view.ace.sc-jumbo-size.sc-button-view.icon.profile .button-left,
.sc-theme .sc-view.ace.sc-jumbo-size.sc-button-view.icon.all .button-middle,
.sc-theme .sc-view.ace.sc-jumbo-size.sc-button-view.icon.profile .button-middle {
  background: none; }

.sc-theme .sc-view.ace.sc-jumbo-size.sc-button-view.icon.profile.active,
.sc-theme .sc-view.ace.sc-jumbo-size.sc-button-view.icon.all.active {
  opacity: .5; }

.sc-view.sc-button-view.icon.all .button-middle .sc-button-label,
.sc-view.sc-button-view.icon.profile .button-middle .sc-button-label {
  left: -8px;
  right: -8px;
  top: 8px;
  height: 45px; }

.sc-view.sc-button-view.icon.all .button-middle .sc-button-label img,
.sc-view.sc-button-view.icon.profile .button-middle .sc-button-label img {
  left: 0px; }
